
    *{
      margin: 10px;
      padding: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    body {
      
    }

    .container{
      width:1200px;
      background-color: #f2f2f2;
      border: blue 1px solid;
    }

    ul {
      list-style: square outside none;
    }

    ol{
      list-style: lower-roman outside none;
    }

    .box_it{
      margin:auto;
      background-color: cornsilk;
      border: blue 1px solid;

    }

    p.main{
      width: 50%;
      paddding: 5px;
      font-size: 14px;
    }

    h1, h3{
      color: blue;
      background-color: cornflowerblue;
    }

    .proj-button{
      margin:5px;
      padding: 5px;
      border-color: blue;
      
    }

    div.req_form{
      margin: 50px;
      border: blue 1px solid;
      background-color: cornsilk;
      color:blue;  
    }

